In [142]:
import pandas as pd
import numpy as np

In [143]:
stopwords=pd.read_csv("stopwords_KOR.csv", header=None)
stopwords

       0
0      아
1      휴
2    아이구
3    아이쿠
4    아이고
..   ...
727   정도
728    잘
729   통하
730   소리
731    놓

[732 rows x 1 columns]

In [144]:
# 불용어 사전 리스트
stop_list=list(stopwords.iloc[:,0].values)
len(stop_list) # 732개

732

In [145]:
# 형태소 파일 읽어오기
before=pd.read_csv("total_tokens_count2.csv")
word_tokens=list(before['형태소'])
print('불용어 제거 전: ', len(word_tokens))
before

불용어 제거 전:  46041

        형태소     빈도수
0       제주도  463606
1        하다  332843
2         에  320736
3         이  292606
4        제주  212309
...     ...     ...
46036    흐응       1
46037  생겻다아       1
46038    무쨔       1
46039  렛츠가자       1
46040   포에버       1

[46041 rows x 2 columns]

In [146]:
# 불용어 사전에 포함되어 있는 형태소의 인덱스 리스트 생성
idx_list=[]
for i, w in enumerate(word_tokens):
    if w in stop_list:
        idx_list.append(i)

In [148]:
# 불용어 제거된 파일
after=before.drop(idx_list) # 45672개
after.to_csv("total_tokens_count2_nostopwords.csv", encoding='utf-8', index=False)

In [149]:
len(after)

45672