In [25]:
import os, os.path
import pandas as pd
from glob import glob
import random
import shutil # 파일 이동에 사용
import natsort as nt # 파일 sort에 사용
import matplotlib.pyplot as plt
import numpy as np
import keras
import numpy as np
import cv2

In [ ]:
# 클라스별 이미지수 시각화 작업

In [ ]:
imgClass_path = '이미지 클라스를 포함하는 파일의 경로 입력'

In [68]:
from pathlib import Path

count=[]
place_name=[]
basepath = Path(imgClass_path)
for entry in basepath.iterdir():
    if entry.is_dir():
        counter=-1 #폴더안에 개수 맞추기 위한 작업
        for subentry in entry.iterdir():
            counter+=1
        count.append(counter)
        place_name.append(entry.name)
#         if counter==100:
#             print(entry.name)

돈암시장

In [83]:
seoul_df=pd.DataFrame({'place':place_name,'count':count})
seoul_df

                          place  count
0                 올림픽대교     83
1              별마당 도서관     88
2                   종로성당     88
3                   하늘공원     85
4          구서울대학교본관     84
..                          ...    ...
386  한양대학교 서울캠퍼스     74
387             한전아트센터     81
388                   구로시장     77
389                  한강대교     76
390                      63시티     81

[391 rows x 2 columns]

In [85]:
# 필요한 이미지 개수 출력
seoul_df['need']=100-seoul_df['count']

In [86]:
seoul_df

                          place  count  need
0                 올림픽대교     83    17
1              별마당 도서관     88    12
2                   종로성당     88    12
3                   하늘공원     85    15
4          구서울대학교본관     84    16
..                          ...    ...   ...
386  한양대학교 서울캠퍼스     74    26
387             한전아트센터     81    19
388                   구로시장     77    23
389                  한강대교     76    24
390                      63시티     81    19

[391 rows x 3 columns]

In [ ]:
# 이미지 데이터 제너레이터 100개 미만의 이미지 클라스만 증식하는 작업 입니다.

In [135]:
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
import os
data_aug_gen = ImageDataGenerator(
                                  brightness_range=[0.3,0.7],
                                  rotation_range=30,
                                  width_shift_range=0.3,
                                  height_shift_range=0.3,
                                  shear_range=0.5,
                                  horizontal_flip=True,
                                  fill_mode='nearest')

placelists = os.listdir(imgClass_path)

for i in range(len(placelists)):
    try:
        img_names = os.listdir(imgClass_path+placelists[i])
        imglist = np.random.choice(img_names,100-len(img_names))
        for j in range(len(imglist)):
            img = load_img(imgClass_path+placelists[i]+'/'+imglist[j])
            x = img_to_array(img)
            x = x.reshape((1,) + x.shape)    
            data_aug_gen.flow(x, batch_size=1, save_to_dir=imgClass_path+placelists[i], save_prefix=placelists[i],save_format='JPG').next()
    except Exception:
        pass

In [136]:
from pathlib import Path

count=[]
place_name=[]
basepath = Path(imgClass_path)
for entry in basepath.iterdir():
    if entry.is_dir():
        counter=0 #폴더안에 개수 맞추기 위한 작업
        for subentry in entry.iterdir():
            counter+=1
        count.append(counter)
        place_name.append(entry.name)
#         if counter==100:
#             print(entry.name)

In [137]:
test_df=pd.DataFrame({'place':place_name,'count':count})

In [138]:
test_df

                          place  count
0                 올림픽대교    100
1              별마당 도서관    100
2                   종로성당    100
3                   하늘공원    100
4          구서울대학교본관    100
..                          ...    ...
386  한양대학교 서울캠퍼스    100
387             한전아트센터    100
388                   구로시장    100
389                  한강대교    100
390                      63시티    100

[391 rows x 2 columns]

In [139]:
# 파일 개수를 100으로 맞춘것을 확인하는 작업 입니다.
test_df[test_df['count']<100].sort_values(by='count' ,ascending=False)

Empty DataFrame
Columns: [place, count]
Index: []

# 트레인, 테스트, 검증 분리

In [140]:
import splitfolders  # or import split_folders

# Split with a ratio.
# To only split into training and validation set, set a tuple to `ratio`, i.e, `(.8, .2)`.
splitfolders.ratio("입력 폴더 경로", output="출력 폴더 경로", seed=1337, ratio=(.8, .1, .1), group_prefix=None) # default values

# Split val/test with a fixed number of items e.g. 100 for each set.
# To only split into training and validation set, use a single number to `fixed`, i.e., `10`.
# splitfolders.fixed("input_folder", output="output", seed=1337, fixed=(100, 100), oversample=False, group_prefix=None) # default values

Copying files: 39099 files [00:55, 704.44 files/s]